<a href="https://colab.research.google.com/github/Vismayamohan17/data-science-assignment/blob/main/Dataacquisition_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load the dataset into a pandas DataFrame.
Display the first few rows of the DataFrame to understand its structure.

In [1]:
import pandas as pd

df = pd.read_csv("/content/archive (2).zip")

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Print the summary statistics of the dataset.

In [3]:
summary_stats = df.describe()
print(summary_stats)

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

: What is the size of the dataset? (Number of rows and columns)

In [4]:
rows, columns = df.shape

print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 303
Number of columns: 14

What are the data types of each column?

In [5]:
column_data_types = df.dtypes

print(column_data_types)

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

Are there any missing values in the dataset? If so, which columns have
missing values and how many?

In [6]:
missing_values = df.isnull().sum()
missing_values_with_counts = missing_values[missing_values > 0]
print("Columns with missing values and their counts:")
print(missing_values_with_counts)

Columns with missing values and their counts:
Series([], dtype: int64)

: What are the unique values in a categorical column of your choice? How
many unique values are there?

In [7]:
column_name = 'chol'
unique_values = df[column_name].unique()
unique_count = df[column_name].nunique()
print(f"Unique values in '{column_name}' column:")
print(unique_values)
print(f"Number of unique values: {unique_count}")

Unique values in 'chol' column:
[233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311 169 187 176 241 131]
Number of unique values: 152

For a numerical column of your choice, calculate the mean, median, and
standard deviation.

In [8]:
column_name = 'age'
mean_value = df[column_name].mean()
median_value = df[column_name].median()
std_deviation = df[column_name].std()

print(f"Mean of '{column_name}': {mean_value}")
print(f"Median of '{column_name}': {median_value}")
print(f"Standard Deviation of '{column_name}': {std_deviation}")

Mean of 'age': 54.366336633663366
Median of 'age': 55.0
Standard Deviation of 'age': 9.082100989837857

 Identify any potential outliers in a numerical column of your choice. Explain
your approach.

In [10]:
column_name = 'trestbps'
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]

print(f"Potential outliers in '{column_name}' column:")
print(outliers[column_name])

Potential outliers in 'trestbps' column:
8      172
101    178
110    180
203    180
223    200
241    174
248    192
260    178
266    180
Name: trestbps, dtype: int64

: Find the correlation between numerical columns and discuss any interesting
relationships.

In [11]:
correlation_matrix = df.corr()

print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
               age       sex        cp  trestbps      chol       fbs  \
age       1.000000 -0.098447 -0.068653  0.279351  0.213678  0.121308
sex      -0.098447  1.000000 -0.049353 -0.056769 -0.197912  0.045032
cp       -0.068653 -0.049353  1.000000  0.047608 -0.076904  0.094444
trestbps  0.279351 -0.056769  0.047608  1.000000  0.123174  0.177531
chol      0.213678 -0.197912 -0.076904  0.123174  1.000000  0.013294
fbs       0.121308  0.045032  0.094444  0.177531  0.013294  1.000000
restecg  -0.116211 -0.058196  0.044421 -0.114103 -0.151040 -0.084189
thalach  -0.398522 -0.044020  0.295762 -0.046698 -0.009940 -0.008567
exang     0.096801  0.141664 -0.394280  0.067616  0.067023  0.025665
oldpeak   0.210013  0.096093 -0.149230  0.193216  0.053952  0.005747
slope    -0.168814 -0.030711  0.119717 -0.121475 -0.004038 -0.059894
ca        0.276326  0.118261 -0.181053  0.101389  0.070511  0.137979
thal      0.068001  0.210041 -0.161736  0.062210  0.098803 -0.032019
target   -0.225439 -0.280937  0.433798 -0.144931 -0.085239 -0.028046

           restecg   thalach     exang   oldpeak     slope        ca  \
age      -0.116211 -0.398522  0.096801  0.210013 -0.168814  0.276326
sex      -0.058196 -0.044020  0.141664  0.096093 -0.030711  0.118261
cp        0.044421  0.295762 -0.394280 -0.149230  0.119717 -0.181053
trestbps -0.114103 -0.046698  0.067616  0.193216 -0.121475  0.101389
chol     -0.151040 -0.009940  0.067023  0.053952 -0.004038  0.070511
fbs      -0.084189 -0.008567  0.025665  0.005747 -0.059894  0.137979
restecg   1.000000  0.044123 -0.070733 -0.058770  0.093045 -0.072042
thalach   0.044123  1.000000 -0.378812 -0.344187  0.386784 -0.213177
exang    -0.070733 -0.378812  1.000000  0.288223 -0.257748  0.115739
oldpeak  -0.058770 -0.344187  0.288223  1.000000 -0.577537  0.222682
slope     0.093045  0.386784 -0.257748 -0.577537  1.000000 -0.080155
ca       -0.072042 -0.213177  0.115739  0.222682 -0.080155  1.000000
thal     -0.011981 -0.096439  0.206754  0.210244 -0.104764  0.151832
target    0.137230  0.421741 -0.436757 -0.430696  0.345877 -0.391724

              thal    target
age       0.068001 -0.225439
sex       0.210041 -0.280937
cp       -0.161736  0.433798
trestbps  0.062210 -0.144931
chol      0.098803 -0.085239
fbs      -0.032019 -0.028046
restecg  -0.011981  0.137230
thalach  -0.096439  0.421741
exang     0.206754 -0.436757
oldpeak   0.210244 -0.430696
slope    -0.104764  0.345877
ca        0.151832 -0.391724
thal      1.000000 -0.344029
target   -0.344029  1.000000

Group the data by a categorical column and compute the aggregate statistics
(e.g., mean, sum) for a numerical column.

In [12]:
categorical_column = 'thal'
numerical_column = 'age'

grouped_data = df.groupby(categorical_column).agg({
    numerical_column: ['mean', 'sum']
})

print(grouped_data)

            age
           mean   sum
thal
0     52.500000   105
1     56.666667  1020
2     53.246988  8839
3     55.632479  6509

 Based on your analysis, provide a brief summary of any insights or patterns
you discovered in the dataset.

In [ ]:
#summary
The mean and median ages are close, indicating a fairly symmetric age distribution.
The standard deviation suggests moderate variability,with ages spread around the mean.
Overall, the age data appears to be reasonably balanced and not heavily skewed.

The identified outliers are significantly higher than typical values in the 'trestbps' column, with some reaching as high as 200 mmHg.
These values may indicate either high blood pressure or potential data entry errors.


Chest Pain Type and Maximum Heart Rate are moderately to strongly associated with heart disease, suggesting their importance in diagnosing or predicting heart conditions.
ST Depression and Exercise-Induced Angina have significant negative correlations with heart disease, indicating their potential role in diagnosing heart conditions.
Age and Resting Blood Pressure show moderate correlations with other factors, suggesting a broader context in heart health assessments.