<a href="https://colab.research.google.com/github/Vismayamohan17/data-science-assignment/blob/main/Day2_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given the string "Hello, World!", extract and print the
substring "Hello".

In [1]:
string = "Hello, World!"
substring = string[0:5]
print(substring)

Hello

Given the string "Python is fun", extract and print the
substring "is".

In [2]:
string = "Python is fun"
substring = string[7:9]
print(substring)

is

Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [3]:
string = "Programming"
substring = string[3:7]
print(substring)

gram

Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [5]:
string="abcdefgh"
substring=string[1:8:2]
print(substring)

bdfh

Given the string "abcdefg", use negative indices to extract
and print the substring "efg".

In [8]:
string="abcdefg"
substring=string[-3:]
print(substring)

efg

Given the string "Data Science", use negative indices to
extract and print the last three characters.

In [9]:
string="Data Science"
substring=string[-3:]
print(substring)

nce

Given the string "abcdefghij", use slicing with a step to
print every second character.

In [11]:
string = "abcdefghij"
substring = string[::2]
print(substring)

acegi

Given the string "1234567890", use slicing with a step to
print the odd digits.

In [14]:
string="1234567890"
substring=string[0:10:2]
print(substring)

13579

Given the string "Hello", use slicing to print the string in
reverse order.

In [22]:
string="Hello"
reverse=string[::-1]
print(reverse)

olleH

Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [23]:
string="abcdefghijk"
substring=string[0:11:2]
print(substring)

acegik

Write a program to find sum of all elements in a list of
integers.

In [27]:
numbers=[2,4,6,10,13]
sum=0
for i in numbers:
  sum+=i
print("Sum =",sum)

Sum = 35

Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [30]:
string=input("Enter a sentence : ")
length = len(string)
print("Length = ",length)
first_half=string[:len(string)//2]
print("First half : ",first_half)

Enter a sentence : English
Length =  7
First half :  Eng

Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [35]:
numbers=(78,45,32,19,82,77,40,39)
number_1=list(numbers)
number_1[2]=100
print(number_1)

[78, 45, 100, 19, 82, 77, 40, 39]

Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [41]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.remove(32)
listA = [x for x in listA if x != 40]
del listA[5]
listA.insert(9, 300)
listA.insert(2, 200)

print("Final list:", listA)
print("Length of list:", len(listA))
print("Maximum value in list:", max(listA))
sum=0
for i in listA:
  sum+=i
print("Sum : ",sum)

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length of list: 11
Maximum value in list: 300
Sum :  828

Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [43]:
string = "The day has been long"
string = string[:4] + string[5:]
print("After deletion at index 4:", string)
print(" ".join([string] * 4))
print((string + "\n") * 3)
string = string[:7] + 'A' + string[8:]
print("After modification at index 7:", string)
print("Substring from index 4 to 15:", string[4:16])
print("Final string:", string)
print("Length of the string:", len(string))

After deletion at index 4: The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

After modification at index 7: The ay Aas been long
Substring from index 4 to 15: ay Aas been
Final string: The ay Aas been long
Length of the string: 20