<a href="https://colab.research.google.com/github/Vismayamohan17/data-science-assignment/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [1]:
radius=int(input("Enter the radius : "))
pi=3.14
area=pi*radius*radius
print("Area = ",area)

Enter the radius : 3
Area =  28.259999999999998

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [2]:
name=input("Enter name : ")
roll_no=int(input("Enter roll number : "))
mark=int(input("Enter mark : "))
print("Name : ",name)
print("Roll No : ",roll_no)
print("Mark : ",mark)

Enter name : Anisha
Enter roll number : 21
Enter mark : 78
Name :  Anisha
Roll No :  21
Mark :  78

Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [3]:
numbers=[12,3,47,10]
for i in numbers:
  largest=max(numbers)
print(f"{largest} is the largest number")

47 is the largest number

. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [4]:
start = 1
end = 10
previous_number = 0
for current_number in range(start, end + 1):
    current_sum = current_number + previous_number
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {current_sum}")
    previous_number = current_number

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [10]:
numbers=[10,20,33,46,55]
for i in numbers:
  if i % 5 == 0:
    print(i)

10
20
55

Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [14]:
num = int(input("Enter the number: "))
if num < 2:
    print(f"{num} is not a prime number.")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter the number: 3
3 is a prime number.

Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [15]:
input_list = [10, 40, 30, 70]
reversed_list = []
for item in input_list[::-1]:
    reversed_list.append(item)
print("Reversed list:", ', '.join(map(str, reversed_list)))

Reversed list: 70, 30, 40, 10

Write a Python program to print the following pattern.
*
**
***
****:

In [16]:
num_rows = 4
for i in range(1, num_rows + 1):
    print('*' * i)

*
**
***
****

Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [19]:
numbers=[34,12,7]
for i in numbers:
  maximum=max(numbers)
print(maximum)

34

Write a Python program to construct the following pattern, using a
nested for loop. *
**
***
****
*****
****
***
**
*

In [20]:
num_rows = 5
for i in range(1, num_rows + 1):
    print('*' * i)
for i in range(num_rows - 1, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*